<?xml version="1.0"?>



<ajaxControlToolkit>

  <controlBundles>


    <!-- works for most pages -->

    <controlBundle>

    

      <control name="CalendarExtender"></control>

      <control name="HtmlEditorExtender"></control>
      
    

    </controlBundle>


    <!-- Works for pages that use only AccordionExtender -->

    <controlBundle name="Group1">

      <control name="CalendarExtender"></control>

    </controlBundle>


    <!-- Works for pages that use only CalendarExtender and

                    HtmlEditorExtender -->

    <controlBundle name="Group2">

      <control name="CalendarExtender"></control>
      <control name="HtmlEditorExtender"></control>
      <control name="MaskedEditExtender"></control>
         <control name="FilteredTextBoxExtender"></control>
      <control name="BarChart"></control>
    </controlBundle>


  </controlBundles>
</ajaxControlToolkit>
