/**
 * 	
 * CUSTOM CODE FOR THE CODE EDITOR FUNCTION
 * 
 * FOR MORE INFORMATION SEE
 * http://developer.yahoo.com/yui/examples/editor/code_editor.html
 * 
 */

.editor-hidden {
	visibility: hidden;
	top: -9999px;
	left: -9999px;
	position: absolute;
}

TEXTAREA.yui_editor {
	border: 0; margin: 0; padding: 0;
}

.yui-resize-handle-br {
	height: 11px;
	width: 11px;
	background-position: -20px -60px;
	background-color: transparent;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-editcode span.yui-toolbar-icon {
	left: 5px;
	background-image: url('../js/yui/assets/html_editor.gif');
	background-position: 0 1px;
}
.yui-skin-sam .yui-toolbar-container .yui-button-editcode-selected span.yui-toolbar-icon {
	left: 5px;
	background-image: url('../js/yui/assets/html_editor.gif');
	background-position: 0 1px;
}
